<!DOCTYPE html>
<html lang="de_DE">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body class="A4">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
